<div class="container-fluid" style="padding-top: 30px;">
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Customers</div>
        <div class="card-body">
          <!--<h5 class="card-title">Total # of Orders</h5>-->
          <p class="card-text">{{ customers.count }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Orders</div>
        <div class="card-body">
          <!--<h5 class="card-title"># of Placed Orders</h5>-->
          <p class="card-text">{{orders.count }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Products</div>
        <div class="card-body">
          <!--<h5 class="card-title"># of Delivered Orders</h5>-->
          <p class="card-text">{{ products.count }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Cancelled Orders</div>
        <div class="card-body">
          <!--<h5 class="card-title"># of Cancelled Orders</h5>-->
          <p class="card-text">5</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Active Orders</div>
        <div class="card-body">
          <!--<h5 class="card-title"># of Cancelled Orders</h5>-->
          <p class="card-text">12</p>
        </div>
      </div>
    </div>
  </div>
</div>