<div class="container-fluid" style="position: relative; margin-top: 30px;">
  <div class="row">
    <div class="col-sm-5">
      <div class="card bg-light mb-3">
        <div class="card-header">Customers</div>
        <div class="card-body">
          <table class="table table-light table-hover">
            <thead>
              <tr>
                <th>Names</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
            {% for c in customers %}
              <tr>
                <td>{{c.name}}</td>
                <td>{{c.email}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card bg-light mb-3">
        <div class="card-header">Products</div>
        <div class="card-body">
          <table class="table table-light table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for p in products %}
              <tr>
                <td>{{p.name}}</td>
                <td>{{p.unit_price}}</td>
                <td>{{p.quantity}}</td>
                <td>
                  <a href="update/{{p.id}}">
                  <button type="button" class="btn btn-primary">
                    Update
                  </button>
                  </a>
                </td>
                <td>
                  <a href="delete/{{p.id}}">
                  <button type="button" class="btn btn-success">
                    Delete
                  </button>
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>