<div class="container-fluid" style="position: relative; margin-top: 30px;">
  <div class="row">
    <div class="col-sm-5">
      <div class="card bg-light mb-3">
        <div class="card-header">Top 5 Customers</div>
        <div class="card-body">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card bg-light mb-3">
        <div class="card-header">5 Latest Orders</div>
        <div class="card-body">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Date Ordered</th>
                <th>Status</th>
                <th>Update</th>
                <th>Cancel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mac Mini</td>
                <td>Jul. 17, 2022, 5:04 AM</td>
                <td>Delivered</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Mac Book Air 2022</td>
                <td>Jul. 17, 2022, 9:04 AM</td>
                <td>Placed</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>PS5 Standard</td>
                <td>Jul. 18, 2022, 12:04 PM</td>
                <td>Pending</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>